{% extends 'caradmin/base.html' %} {% load static %} {% block title %} Admin - Home {% endblock title %} {% block content %}


<!-- Content Start -->
<div class="content">

    <!-- Sale & Revenue Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <!-- <i class="fa fa-chart-line fa-3x text-primary"></i> -->
                    <div class="ms-3">
                        <p class="mb-2">Total Cars</p>
                        <h6 class="mb-0">{{cars_c}}</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <!-- <i class="fa fa-chart-bar fa-3x text-primary"></i> -->
                    <div class="ms-3">
                        <p class="mb-2">Total Messages</p>
                        <h6 class="mb-0">{{messages_c}}</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <!-- <i class="fa fa-chart-area fa-3x text-primary"></i> -->
                    <div class="ms-3">
                        <p class="mb-2">Total Blogs</p>
                        <h6 class="mb-0">{{blog_c}}</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <!-- <i class="fa fa-chart-pie fa-3x text-primary"></i> -->
                    <div class="ms-3">
                        <p class="mb-2">Team size</p>
                        <h6 class="mb-0">{{team_c}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sale & Revenue End -->


    <!-- Recent Sales Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">All Cars</h6>
                <a class="btn btn-sm btn-outline-primary" href="{% url 'add_car' %}">Add Car</a>
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-dark">
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Make</th>
                            <th scope="col">Model</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for car in cars %}
                        <tr>
                            <td>
                                <img src="{{car.imageURL}}" width="40" height="40" alt="{{car.name}}">
                            </td>
                            <td>{{car.name}}</td>
                            <td>{{car.price}}</td>
                            <td>{{car.make}}</td>
                            <td>{{car.model}}</td>
                            <td><a class="btn btn-sm btn-outline-primary" href="{% url 'car_edit' car.id %}">Edit</a></td>
                            <td><a class="btn btn-sm btn-outline-danger" href="{% url 'vehicle_delete' car.id %}">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if cars.has_other_pages %}
        <nav class="mt-2 mb-2">
            <ul class="pagination justify-content-center">
                {% if cars.has_previous %}
                <li class="page-item bg-dark">
                    <a class="page-link" href="?page={{ cars.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled bg-dark">
                    <span class="page-link" aria-hidden="true">&laquo;</span>
                </li>
                {% endif %} {% for p in cars.paginator.page_range %} {% if cars.number == p %}
                <li class="page-item bg-dark"><a class="page-link" style="color: rgb(246, 247, 252);" href="#">{{ p }}</a></li>
                {% else %}
                <li class="page-item bg-dark"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                {% endif %} {% endfor %} {% if cars.has_next %}
                <li class="page-item bg-dark">
                    <a class="page-link" href="?page={{ cars.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled bg-dark">
                    <span class="page-link" aria-hidden="true">&raquo;</span>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
    <!-- Recent Sales End -->



    <!-- Footer End -->
</div>
<!-- Content End -->


<!-- Back to Top -->
<!-- <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a> -->
</div>
{% endblock content %}