{% extends 'base.html' %} {% load static %} {% block title %} Blog details {% endblock title %} {% block content %}

<section class="section section-bg" id="call-to-action" style="background-image: url(static/images/banner-image-1-1920x500.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <br>
                    <br>
                    <h2>{{blog.title}} <em></em></h2>
                    <!-- <p>Ut consectetur, metus sit amet aliquet placerat, enim est ultricies ligula</p> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ***** Blog Start ***** -->
<section class="section" id="our-classes">
    <div class="container">
        <br>
        <br>
        <section class='tabs-content'>
            <article>
                <h4></h4>

                <!-- <p><i class="fa fa-user"></i> John Doe &nbsp;|&nbsp; <i class="fa fa-calendar"></i> 27.07.2020 10:10 &nbsp;|&nbsp; <i class="fa fa-comments"></i>  15 comments</p> -->

                <div><img src="{{blog.imageURL}}" alt=""></div>

                <br>

                <p>{{blog.snippet}}</p>

                <p>{{blog.description}}</p>


                <!-- <ul class="social-icons">
                    <li>Share this:</li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul> -->
            </article>
        </section>

        <br>
        <br>
        <br>


    </div>
</section>
<!-- ***** Blog End ***** -->
{% endblock content %}